<div class="row w-100 m-0 d-flex align-items-stretch">
  <div class="col-12 col-lg-9 p-0">
    <my-player></my-player>

    <div class="w-100 p-2 mt-2 row mb-0 mr-0 ml-0">
      <div class="col">
        <h1>{{film.name}} ({{film.year}})</h1>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm rounded-0" [ngClass]="isFilmLocalStorage ?'btn-outline-danger': 'btn-info' " (click)="SetFilmLocalStorage()">
          <small>{{isFilmLocalStorage ? 'УДАЛИТЬ ФИЛЬМ' : 'ПОСМОТРЕТЬ ПОЗЖЕ'}}</small>
        </button>
      </div>
      <h5 class="pl-5 w-100 small text-secondary">{{film.alternateName}} - {{film.slogan}}</h5>
      <hr class="my-1 w-100">
      <div class="desc w-100">{{film.description}}</div>
      <my-features class="d-block mt-4 w-100" [features]="film.features"></my-features>
    </div>
    <my-carusel-films [grid]="{ xs: 2, sm: 3, md: 4, lg: 4, all: 0 }" [title]="'Похожее'" [films]="filmsLike"></my-carusel-films>
  </div>
  <div class="col-3 p-0 d-none d-lg-flex">
    <my-film-info-panel [film]="film"></my-film-info-panel>
  </div>
  <my-fade-panel name="О фильме">
    <my-film-info-panel [film]="film"></my-film-info-panel>
  </my-fade-panel>
</div>