<div class="row w-100 m-0 d-flex align-items-stretch">
  <div class="col-12 col-lg-9 p-0">
    <my-player></my-player>

    <div class="w-100 p-2 mt-2">
      <h1>{{film.name}} ({{film.year}})</h1>
      <h5 class="pl-5 small text-secondary">{{film.alternateName}} - {{film.slogan}}</h5>
      <hr class="my-1">
      <div class="desc">{{film.description}}</div>
      <my-features class="d-block mt-4" [features]="film.features"></my-features>
    </div>
  </div>
  <div class="col-3 p-0 d-none d-lg-flex">
    <my-film-info-panel [film]="film"></my-film-info-panel>
  </div>
  <my-fade-panel name="О фильме">
    <my-film-info-panel [film]="film"></my-film-info-panel>
  </my-fade-panel>
</div>