<div class="row m-0 col-12">
  <div class="title">
    <h3>Новые фильмы:</h3>
  </div>
  <div class="row w-100 border  m-0 py-2  border-secondary">
    <my-film-item-index class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center" *ngFor="let film of indexFilms.newFilms"
      [film]="film"></my-film-item-index>
  </div>
</div>

<div class="row m-0 col-12 justify-content-end">
  <div class="title">
    <h3>Новые сериалы:</h3>
  </div>
  <div class="row w-100 border  m-0 py-2  border-secondary ">
    <my-film-item-index class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center" *ngFor="let film of indexFilms.newSerials"
      [film]="film"></my-film-item-index>
  </div>
</div>

<div class="row m-0 col-12">
  <div class="title">
    <h3>Популярные фильмы:</h3>
  </div>
  <div class="row w-100 border  m-0 py-2  border-secondary">
    <my-film-item-index class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center" *ngFor="let film of indexFilms.popularFilms"
      [film]="film"></my-film-item-index>
  </div>
</div>

<div class="row m-0 col-12 justify-content-end">
  <div class="title">
    <h3>Популярные сериалы:</h3>
  </div>
  <div class="row w-100 border  m-0 py-2  border-secondary ">
    <my-film-item-index class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center" *ngFor="let film of indexFilms.popularSerials"
      [film]="film"></my-film-item-index>
  </div>
</div>

<div class="row m-0 col-12">
  <div class="title">
    <h3>Случайные фильмы и сериалы:</h3>
  </div>
  <div class="row w-100 border  m-0 py-2  border-secondary ">
    <my-film-item-index class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center" *ngFor="let film of indexFilms.randomFilms"
      [film]="film"></my-film-item-index>
  </div>
</div>