.title{
    background-color: rgb(243, 240, 240);
    color: rgb(54, 46, 46);
    border-left: 1px  solid #979797;
    border-top: 1px  solid #979797;
    border-right: 1px  solid #979797;
    border-radius: 8px 8px 0 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 12px;
    font-weight: 300;
}

h3{
    font-size: 1.1rem
}